In [23]:
import pandas as pd

df = pd.read_excel("CUADRO.xlsx", header=0, sheet_name='consolidados')

df = df.applymap(lambda x: x.strip() if isinstance(x,str) else x)

df.columns = df.columns.str.strip()


df

C:\Users\Equipo\AppData\Local\Temp\ipykernel_9532\3102516952.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.strip() if isinstance(x,str) else x)

,N°,PLACA INTERNA,PLACA RODAJE,UNIDAD,SUB UNIDAD,TIPO DE VEHICULO,AÑO,MARCA,MODELO,Nº DE MOTOR,...,TIPO DE COMBUSTIBLE,PROCEDENCIA,ESTADO DEL VEHICULO,ESTADO DEL ODOMETRO,FUNCION POLICIAL,MOTIVO O CAUSA DE LA INOPERATIVIDAD,FECHA DE LA INOPERATIVIDAD,UBICACIÓN,NRO. RESOLUCION DE BAJA,FECHA RD BAJA
0,1,KG-24564,EPG-271,REGPOL-LL,AYUDANTIA REGPOL-LA LIBERTAD,CAMIONETA PICK UP,2014.0,TOYOTA,HILUX 4x4,1KDU626158,...,DIESEL,MPT,OPERATIVO,OPERAT.,ASIG. AL CARGO,NaN,NaN,NaN,NaN,NaN
1,2,TMP-6555,T6V-229,REGPOL-LL,AYUDANTIA REGPOL-LA LIBERTAD,CAMIONETA SUV,2022.0,TOYOTA,RAV4,M20AV523411,...,GASOLINA,PRONABI,OPERATIVO,OPERAT.,ASIG. AL CARGO,NaN,NaN,NaN,NaN,NaN
2,3,TMP-2792,T4J-556,REGPOL-LL,JEFATURA REGPOL-LA LIBERTAD,CAMIONETA SUV,2017.0,JEEP,GRAND CHEROKE,6044710029,...,GASOLINA,PRONABI,OPERATIVO,OPERAT.,ASIG. AL CARGO,NaN,NaN,NaN,NaN,NaN
3,4,KG-9892,COQ-523,REGPOL-LL,SECRETARIA-REGPOL-LL.A,AUTOMOVIL,2008.0,NISSAN,ALMERA,QG16-229798P,...,GASOLINA,G/R,OPERATIVO,OPERAT.,ASIG. AL CARGO,NaN,NaN,NaN,NaN,NaN
4,5,PL-16207,EPC-268,REGPOL-LL,OFAD-REGPOL LA LIBERTAD,CAMIONETA PICK UP,2014.0,NISSAN,FRONTIER,KA24750008A,...,GASOLINA,PNP,OPERATIVO,OPERAT.,ADMINISTRAT.,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,1011,CT-2414,-,NaN,NaN,NaN,NaN,NISSAN,PATROL,TB42112905,...,GASOLINA,COMPRA DIRECTA,INOP. IRRECUP.,INOPERATIVO,NaN,MOTOR MAL ESTADO,2009-10-01 00:00:00,DOV-MOCHE,671-2011-DIRLOG-PNP-DIVTRA,27/09/2011
1011,1012,CT-2158,-,NaN,NaN,NaN,NaN,NISSAN,PATROL,TB42123367,...,GASOLINA,COMPRA DIRECTA,INOP. IRRECUP.,INOPERATIVO,NaN,MOTOR MAL ESTADO,2009-10-01 00:00:00,DESPRCAR SHOREY,671-2011-DIRLOG-PNP-DIVTRA,27/09/2011
1012,1013,CT-5468,-,NaN,NaN,NaN,NaN,HONDA,CB-750,RC38E23004770,...,GASOLINA,COMPRA DIRECTA,INOP. IRRECUP.,INOPERATIVO,NaN,TIEMPO DE VIDA UTIL,2012-02-23 00:00:00,DOV- TRUJILLO,NaN,NaN
1013,1014,CG-1085,-,NaN,NaN,NaN,NaN,TOYOTA,LAND CRUISER,1FZ0424325,...,GASOLINA,COMPRA DIRECTA,INOP. IRRECUP.,INOPERATIVO,NaN,MOTOR MAL ESTADO,28-SET-2011,DOV-MOCHE,NaN,NaN
1014,1015,CM-8686,LIE-065,NaN,NaN,NaN,NaN,NISSAN,XTRAIL 4x2,QR25779467A,...,GASOLINA,COMPRA DIRECTA,INOP. IRRECUP.,INOPERATIVO,NaN,MOTOR MAL ESTADO,2012-11-14 00:00:00,DESPRCAR HUAMACHUCO,NaN,NaN

In [24]:
df.head()

,N°,PLACA INTERNA,PLACA RODAJE,UNIDAD,SUB UNIDAD,TIPO DE VEHICULO,AÑO,MARCA,MODELO,Nº DE MOTOR,...,TIPO DE COMBUSTIBLE,PROCEDENCIA,ESTADO DEL VEHICULO,ESTADO DEL ODOMETRO,FUNCION POLICIAL,MOTIVO O CAUSA DE LA INOPERATIVIDAD,FECHA DE LA INOPERATIVIDAD,UBICACIÓN,NRO. RESOLUCION DE BAJA,FECHA RD BAJA
0,1,KG-24564,EPG-271,REGPOL-LL,AYUDANTIA REGPOL-LA LIBERTAD,CAMIONETA PICK UP,2014.0,TOYOTA,HILUX 4x4,1KDU626158,...,DIESEL,MPT,OPERATIVO,OPERAT.,ASIG. AL CARGO,NaN,NaN,NaN,NaN,NaN
1,2,TMP-6555,T6V-229,REGPOL-LL,AYUDANTIA REGPOL-LA LIBERTAD,CAMIONETA SUV,2022.0,TOYOTA,RAV4,M20AV523411,...,GASOLINA,PRONABI,OPERATIVO,OPERAT.,ASIG. AL CARGO,NaN,NaN,NaN,NaN,NaN
2,3,TMP-2792,T4J-556,REGPOL-LL,JEFATURA REGPOL-LA LIBERTAD,CAMIONETA SUV,2017.0,JEEP,GRAND CHEROKE,6044710029,...,GASOLINA,PRONABI,OPERATIVO,OPERAT.,ASIG. AL CARGO,NaN,NaN,NaN,NaN,NaN
3,4,KG-9892,COQ-523,REGPOL-LL,SECRETARIA-REGPOL-LL.A,AUTOMOVIL,2008.0,NISSAN,ALMERA,QG16-229798P,...,GASOLINA,G/R,OPERATIVO,OPERAT.,ASIG. AL CARGO,NaN,NaN,NaN,NaN,NaN
4,5,PL-16207,EPC-268,REGPOL-LL,OFAD-REGPOL LA LIBERTAD,CAMIONETA PICK UP,2014.0,NISSAN,FRONTIER,KA24750008A,...,GASOLINA,PNP,OPERATIVO,OPERAT.,ADMINISTRAT.,NaN,NaN,NaN,NaN,NaN

In [25]:
df.rename(columns={'N°': 'id',
                   'MARCA':'marca',
                   'MODELO': 'modelo',
                   'AÑO': 'anio',
                   'TIPO DE VEHICULO':'tipo',
                   'TIPO DE COMBUSTIBLE': 'tipo_combustible',
                   'Nº DE SERIE': 'vin',
                   'ESTADO DEL ODOMETRO': 'estado_odo',
                   'ESTADO DEL VEHICULO': 'estado_vehi',
                   'Nº DE  MOTOR': 'num_motor',
                   'PLACA INTERNA': 'placa_int',
                   'PLACA RODAJE': 'placa_rod',
                   'FUNCION POLICIAL': 'funcion',
                   'UNIDAD': 'unidad',
                   'SUB UNIDAD': 'subunidad',
                   'PROCEDENCIA' : 'procedencia',
                   'MOTIVO O CAUSA DE LA INOPERATIVIDAD': 'motivo_ino',
                   'FECHA DE LA INOPERATIVIDAD':'fecha_ino',
                   'UBICACIÓN': 'ubicacion_ino',
                   'NRO. RESOLUCION DE BAJA': 'resolucion_baja',
                   'FECHA RD BAJA': 'fecha_baja'
                   }, inplace=True)

# df.to_excel('archivo salida.xlsx', index=False)

df['kilometraje'] = 0
df ['fecha_adquisicion'] = 'NULL'
df ['valor'] = 0

df

,id,placa_int,placa_rod,unidad,subunidad,tipo,anio,marca,modelo,num_motor,...,estado_odo,funcion,motivo_ino,fecha_ino,ubicacion_ino,resolucion_baja,fecha_baja,kilometraje,fecha_adquisicion,valor
0,1,KG-24564,EPG-271,REGPOL-LL,AYUDANTIA REGPOL-LA LIBERTAD,CAMIONETA PICK UP,2014.0,TOYOTA,HILUX 4x4,1KDU626158,...,OPERAT.,ASIG. AL CARGO,NaN,NaN,NaN,NaN,NaN,0,NULL,0
1,2,TMP-6555,T6V-229,REGPOL-LL,AYUDANTIA REGPOL-LA LIBERTAD,CAMIONETA SUV,2022.0,TOYOTA,RAV4,M20AV523411,...,OPERAT.,ASIG. AL CARGO,NaN,NaN,NaN,NaN,NaN,0,NULL,0
2,3,TMP-2792,T4J-556,REGPOL-LL,JEFATURA REGPOL-LA LIBERTAD,CAMIONETA SUV,2017.0,JEEP,GRAND CHEROKE,6044710029,...,OPERAT.,ASIG. AL CARGO,NaN,NaN,NaN,NaN,NaN,0,NULL,0
3,4,KG-9892,COQ-523,REGPOL-LL,SECRETARIA-REGPOL-LL.A,AUTOMOVIL,2008.0,NISSAN,ALMERA,QG16-229798P,...,OPERAT.,ASIG. AL CARGO,NaN,NaN,NaN,NaN,NaN,0,NULL,0
4,5,PL-16207,EPC-268,REGPOL-LL,OFAD-REGPOL LA LIBERTAD,CAMIONETA PICK UP,2014.0,NISSAN,FRONTIER,KA24750008A,...,OPERAT.,ADMINISTRAT.,NaN,NaN,NaN,NaN,NaN,0,NULL,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,1011,CT-2414,-,NaN,NaN,NaN,NaN,NISSAN,PATROL,TB42112905,...,INOPERATIVO,NaN,MOTOR MAL ESTADO,2009-10-01 00:00:00,DOV-MOCHE,671-2011-DIRLOG-PNP-DIVTRA,27/09/2011,0,NULL,0
1011,1012,CT-2158,-,NaN,NaN,NaN,NaN,NISSAN,PATROL,TB42123367,...,INOPERATIVO,NaN,MOTOR MAL ESTADO,2009-10-01 00:00:00,DESPRCAR SHOREY,671-2011-DIRLOG-PNP-DIVTRA,27/09/2011,0,NULL,0
1012,1013,CT-5468,-,NaN,NaN,NaN,NaN,HONDA,CB-750,RC38E23004770,...,INOPERATIVO,NaN,TIEMPO DE VIDA UTIL,2012-02-23 00:00:00,DOV- TRUJILLO,NaN,NaN,0,NULL,0
1013,1014,CG-1085,-,NaN,NaN,NaN,NaN,TOYOTA,LAND CRUISER,1FZ0424325,...,INOPERATIVO,NaN,MOTOR MAL ESTADO,28-SET-2011,DOV-MOCHE,NaN,NaN,0,NULL,0
1014,1015,CM-8686,LIE-065,NaN,NaN,NaN,NaN,NISSAN,XTRAIL 4x2,QR25779467A,...,INOPERATIVO,NaN,MOTOR MAL ESTADO,2012-11-14 00:00:00,DESPRCAR HUAMACHUCO,NaN,NaN,0,NULL,0

In [26]:
df_vehiculo = df[['id', 'marca', 'modelo', 'anio', 'kilometraje', 'tipo', 'fecha_adquisicion', 'tipo_combustible', 'vin', 'estado_odo', 'estado_vehi',
          'num_motor', 'placa_int', 'placa_rod', 'subunidad','procedencia', 'valor', 'funcion','fecha_ino','ubicacion_ino','resolucion_baja','fecha_baja']]

df_vehiculo['estado_odo'] = df_vehiculo['estado_odo'].apply(lambda x: 'OPERATIVO' if x.startswith('OPERAT') else 'INOPERATIVO')
df_vehiculo['funcion'] = df_vehiculo['funcion'].apply(lambda x: 'ADMINISTRATIVO' if x == 'ADMINISTRAT.' else x)

C:\Users\Equipo\AppData\Local\Temp\ipykernel_9532\411995493.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vehiculo['estado_odo'] = df_vehiculo['estado_odo'].apply(lambda x: 'OPERATIVO' if x.startswith('OPERAT') else 'INOPERATIVO')
C:\Users\Equipo\AppData\Local\Temp\ipykernel_9532\411995493.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vehiculo['funcion'] = df_vehiculo['funcion'].apply(lambda x: 'ADMINISTRATIVO' if x == 'ADMINISTRAT.' else x)

In [27]:
df_unidad = df[['unidad']]
df_unidad = df_unidad.drop_duplicates(subset=['unidad'])
df_unidad = df_unidad.reset_index(drop=True)
df_unidad['id'] = df_unidad.index + 1
df_unidad = df_unidad.reset_index(drop=True)
df_unidad['id'] = df_unidad.index + 1
df_unidad = df_unidad[['id', 'unidad']]
df_unidad

    id               unidad
0    1            REGPOL-LL
1    2             DIVPOCOM
2    3            IIIMRP-LL
3    4  INSPECTORIA GENERAL
4    5          ESCUELA PNP
5    6         DIRSAPOL PNP
6    7    LAVADO DE ACTIVOS
7    8      DIVIAC-TRUJILLO
8    9          DIV TURISMO
9   10   DIV MEDIO AMBIENTE
10  11         DIRIN DIVBUS
11  12             DIVCOCOR
12  13          INSPECT.R-N
13  14                  NaN

In [712]:
df_unidad = df[['unidad']]

In [713]:
df_unidad = df_unidad.drop_duplicates(subset=['unidad'])

In [714]:
df_subunidad = df[['subunidad', 'unidad']]
df_subunidad = df_subunidad.drop_duplicates(subset=['subunidad'])

In [715]:
df['subunidad'].nunique()

108

In [716]:
df_unidad = df_unidad.reset_index(drop=True)
df_unidad['id'] = df_unidad.index + 1

In [717]:
df_subunidad = df_subunidad.reset_index(drop=True)
df_subunidad['id'] = df_subunidad.index + 1

In [718]:
df_subunidad['direccion'] = 'NULL'
df_subunidad['responsable_id'] = 'NULL'
df_subunidad['telefono_contacto'] = 'NULL'

In [719]:
df_subunidad_fin = pd.merge(df_subunidad, df_unidad, on='unidad', how='left')

In [720]:
df_subunidad_fin = df_subunidad_fin.rename(columns={
    # 'subunidad':'nombre',
    'id_y':'unidad_id',
    'id_x': 'id'
})

In [721]:
df_subunidad_fin.drop('unidad', axis= 1)

,subunidad,id,direccion,responsable_id,telefono_contacto,unidad_id
0,AYUDANTIA III MACRO REGPOL-LA LIBERTAD,1,NULL,NULL,NULL,1
1,JEFATURA III MACRO REGPOL-LA LIBERTAD,2,NULL,NULL,NULL,1
2,SECRETARIA-III-MACRO-REGPOL-LL.A,3,NULL,NULL,NULL,1
3,OFAD-III-MACROEGPOL LA LIBERTAD,4,NULL,NULL,NULL,1
4,JEFEFATURA-AREREHUN,5,NULL,NULL,NULL,1
...,...,...,...,...,...,...
103,REGSAPOL-LL-TRUJILLO,104,NULL,NULL,NULL,7
104,LAVADO DE ACTIVOS,105,NULL,NULL,NULL,8
105,DIVIAC-TRUJILLO,106,NULL,NULL,NULL,9
106,DIVTURISMO-TRUJILLO,107,NULL,NULL,NULL,10
107,DIV.MEDIO AMB-TRUJILLO,108,NULL,NULL,NULL,4

In [722]:
df_procedencia = df[['procedencia']]
df_funcion = df[['funcion']]
df_procedencia = df_procedencia.drop_duplicates(subset='procedencia')
df_funcion = df_funcion.drop_duplicates(subset='funcion')

In [723]:
df_funcion['funcion'] = df_funcion['funcion'].apply(lambda x: 'ADMINISTRATIVO' if x == 'ADMINISTRAT.' else x) 
df_vehiculo['funcion'] = df_vehiculo['funcion'].apply(lambda x: 'ADMINISTRATIVO' if x == 'ADMINISTRAT.' else x)

C:\Users\Equipo\AppData\Local\Temp\ipykernel_748\3863401673.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vehiculo['funcion'] = df_vehiculo['funcion'].apply(lambda x: 'ADMINISTRATIVO' if x == 'ADMINISTRAT.' else x)

In [724]:
df_procedencia['procedencia'] = df_procedencia['procedencia'].replace('G/R', 'GR')
df_procedencia = df_procedencia.drop_duplicates(subset='procedencia', keep='first')

In [725]:
df_procedencia = df_procedencia.reset_index(drop=True)
df_procedencia['id'] = df_procedencia.index + 1

In [726]:
df_procedencia = df_procedencia[['id', 'procedencia']]
df_procedencia

    id                       procedencia
0    1                               MPT
1    2                           PRONABI
2    3                                GR
3    4                               PNP
4    5                            DONADO
5    6                              MDLE
6    7                               PIP
7    8                          MININTER
8    9                            ASBANC
9   10  REPOSICION DE SEGURO TODO RIESGO
10  11                               MDP
11  12                          MPOTUZCO

In [727]:
df_funcion = df_funcion.reset_index(drop=True)
df_funcion['id'] = df_funcion.index + 1
df_funcion = df_funcion[['id', 'funcion']]
df_funcion

   id         funcion
0   1  ASIG. AL CARGO
1   2  ADMINISTRATIVO
2   3       OPERATIVO
3   4      PATRULLAJE

In [728]:
df_unidad = df_unidad.reset_index(drop=True)
df_unidad['id'] = df_unidad.index + 1
df_unidad = df_unidad[['id', 'unidad']]
df_unidad

   id               unidad
0   1            REGPOL-LL
1   2             DIVPOCOM
2   3            IIIMRP-LL
3   4   DIV MEDIO AMBIENTE
4   5  INSPECTORIA GENERAL
5   6          ESCUELA PNP
6   7         DIRSAPOL PNP
7   8    LAVADO DE ACTIVOS
8   9      DIVIAC-TRUJILLO
9  10          DIV TURISMO

In [729]:
df_subunidad = df_subunidad_fin
df_subunidad = df_subunidad[['id', 'subunidad', 'direccion', 'responsable_id', 'unidad_id', 'telefono_contacto']]
df_subunidad

,id,subunidad,direccion,responsable_id,unidad_id,telefono_contacto
0,1,AYUDANTIA III MACRO REGPOL-LA LIBERTAD,NULL,NULL,1,NULL
1,2,JEFATURA III MACRO REGPOL-LA LIBERTAD,NULL,NULL,1,NULL
2,3,SECRETARIA-III-MACRO-REGPOL-LL.A,NULL,NULL,1,NULL
3,4,OFAD-III-MACROEGPOL LA LIBERTAD,NULL,NULL,1,NULL
4,5,JEFEFATURA-AREREHUN,NULL,NULL,1,NULL
...,...,...,...,...,...,...
103,104,REGSAPOL-LL-TRUJILLO,NULL,NULL,7,NULL
104,105,LAVADO DE ACTIVOS,NULL,NULL,8,NULL
105,106,DIVIAC-TRUJILLO,NULL,NULL,9,NULL
106,107,DIVTURISMO-TRUJILLO,NULL,NULL,10,NULL
107,108,DIV.MEDIO AMB-TRUJILLO,NULL,NULL,4,NULL

In [ ]:
df_vehiculo = pd.merge(df_vehiculo, df_subunidad, on='subunidad', how='left')
df_vehiculo = df_vehiculo[['id_x', 'marca', 'modelo', 'anio', 'kilometraje', 'tipo', 'fecha_adquisicion', 'tipo_combustible', 'vin', 'estado_odo', 'estado_vehi',
          'num_motor', 'placa_int', 'placa_rod', 'id_y', 'valor', 'funcion']]
df_vehiculo = df_vehiculo.rename(columns={
    'id_x':'id',
    'id_y':'subunidad_id'
})
df_vehiculo

,id,marca,modelo,anio,kilometraje,tipo,fecha_adquisicion,tipo_combustible,vin,estado_odo,estado_vehi,num_motor,placa_int,placa_rod,subunidad_id,valor,funcion
0,1,TOYOTA,HILUX 4x4,2014,0,CAMIONETA PICK UP,NULL,DIESEL,MR0FZ22G3F1087306,OPERATIVO,OPERATIVO,1KDU626158,KG-24564,EPG-271,1,0,ASIG. AL CARGO
1,2,JEEP,GRAND CHEROKE,2017,0,CAMIONETA SUV,NULL,GASOLINA,1C4RJFAG5HC840434,OPERATIVO,OPERATIVO,6044710029,TMP-2792,T4J-556,2,0,ASIG. AL CARGO
2,3,NISSAN,ALMERA,2008,0,AUTOMOVIL,NULL,GASOLINA,KNMC4C2HM9P728172,OPERATIVO,OPERATIVO,QG16-229798P,KG-9892,COQ-523,3,0,ASIG. AL CARGO
3,4,NISSAN,FRONTIER,2014,0,CAMIONETA PICK UP,NULL,GASOLINA,3N6DD23T5FK004440,OPERATIVO,OPERATIVO,KA24750008A,PL-16207,EPC-268,4,0,ADMINISTRATIVO
4,5,TOYOTA,86,2017,0,AUTOMOVIL,NULL,GASOLINA,JF1ZN6L81JG033001,OPERATIVO,OPERATIVO,FA20CB51421,TMP-2791,BBN-376,5,0,ADMINISTRATIVO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,311,YAMAHA,XTZ-250 ABS,2022,0,MOTOCICLETA,NULL,GASOLINA,9C6DG2923N0001835,OPERATIVO,OPERATIVO,G3F2G028749,YG-26068,EP-7493,107,0,ADMINISTRATIVO
311,312,YAMAHA,XTZ-250 ABS,2022,0,MOTOCICLETA,NULL,GASOLINA,9C6DG2924N0001844,OPERATIVO,OPERATIVO,G3F2G028670,YG-26069,EP-7484,107,0,ADMINISTRATIVO
312,313,YAMAHA,XTZ-250 ABS,2022,0,MOTOCICLETA,NULL,GASOLINA,9CGDG2924N0001908,OPERATIVO,OPERATIVO,G3F2G028758,YG-26070,EP-7481,107,0,ADMINISTRATIVO
313,314,YAMAHA,XTZ-250 ABS,2022,0,MOTOCICLETA,NULL,GASOLINA,9C6DG2923N0002130,OPERATIVO,OPERATIVO,G3F2G029986,YG-26067,EP-7492,107,0,ADMINISTRATIVO
314,315,TOYOTA,HILUX 4x4,2018,0,CAMIONETA PICK UP,NULL,DIESEL,8AJHA8CD2J2614680,OPERATIVO,OPERATIVO,1GD4393505,TMP-2954,T9H-861,108,0,ADMINISTRATIVO

: